<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}" sizes="32x32">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Мой список задач</h1>
        <div class="input-group">
            <input type="text" id="taskInput" placeholder="Введите новую задачу...">
            <button id="addTaskButton">Добавить</button>
        </div>
        <ul id="taskList"></ul>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>